/* css reset */
*{
    margin: 0%;
    padding: 0%;
    font-family: "Baloo Bhai 2", sans-serif;
}
 body{
    overflow-x: hidden;
    height:1000px;

}
.varshney{
    display: flex;
    /* background-color: black; */
    border-radius: 10px;
    padding: 15px;
    /* justify-content: center; */
    float: left;


}
.shubham a{
    padding: 0px 10px;
    color: whitesmoke;
    text-decoration: none;
    font-family: "Baloo Bhai 2", sans-serif;
    font-size: 20px; 
    border-radius: 90px;
    /* border: 1px solid white; */
    margin: 3px;
}
.shubham a:hover{
    cursor: pointer;
    background-color: lightgrey;
}
.shubham{
    list-style: none;
    align-items:center ;
    display: flex;
    /* margin-left:16%; */

}
.aditya{
    margin: auto ;
    margin-top: 30px;
    width: 2000px;
}
.varshney::before{
    background-image: url('/image\ food.webp');
    content: '';
    position: absolute;
    height:50%;
    width: 100%;
    z-index:-1;
    opacity: 0.89;
    top: 0%;
    left: 0%;
    right:0%;
    background-size: cover;
}

.aditya h1{
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin: 0px 820px;
    border-radius: 20px;
    color: black;
    /* background-color: black; */
}
.aditya p{
    color:black;
    opacity: 1;
    margin: 7px 650px;
    border-radius: 20px;
}
/* Styles for the search container */
#search{
    border:9px solid white;
    background-color: white;
    border-radius: 40px;
    opacity: 0.7;
    /* background-color: transparent; */

    
}
input[type='text']{
    /* padding: 6px 10px; */
    width: 200px;
    /* background-color: transparent; */
    
}
button{
    position: absolute;
    top: 0px;
    right: 300px;
    background-color: transparent;
    border-radius: 100px;
    border: 1px solid black;
}
.pp{
    right: 0px;
    margin-right: 210px;
    background-color: black;
}
#login{
    color: white;
    /* background-color:white; */
    border-radius: 50px;
    border: 1px solid black;
    opacity: 0.9;
    padding: 10px;
    /* background-color: transparent; */
    /* background-color: black; */
    width: 40px;
}

.ramu{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 50px;
    background-color: white;
    top:50%;
    color: black;
    height:2000px;

}
.box{
    height: 90px;
    border: 2px solid green;
    display: inline-block;
    padding: 90px;
    margin: 50px;
    font-weight: bold;
    color:white;
    font-weight: bold;
    font-size:20px;

}
#pizza{
    background-image: url('/veg\ pizza.jpg');
    background-size: cover;
    opacity: 0.9;

}
#burger{
    background-image: url('/burger.jpg');
    background-size: cover;
    opacity:0.9;
    font-weight: bold;

}
#momos{
    background-image: url('/momos.jpg');
    background-size: cover;
    opacity: 0.9;
}
#softdrink{
    background-image: url('/soft\ drink.jpg');
    background-size: cover;
    color: white;
}
#chinease{
    background-image: url('/chinease\ .jpg');
    background-size: cover;
    color: white;
}
.order{
    margin: auto;
    left: 0%;
    right: 0%;
    border: none;
    margin:850px;
    font-size: 20px;
    border: 4px solid black;
    width: 105px;
    left: 60px;
    background-color:black;
    opacity: 0.7;
    color: white;
    font-weight: bold;
}
.order:hover{
    background-color:lightcoral;
}
.pt{
    /* border: 4px solid black; */
    /* background-color: lightgray; */
    color: black;
    font-weight: bold;
}
.contactus{
    display: flex;
    justify-content: center; /* Horizontally center */ 
    margin-top: 14rem;
}
#pizza{
    position: relative;
    animation-name:pizza;
    animation-duration:5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
@keyframes pizza{
    25%{
        top: 0px;
        left:0px;
    }
    50%{
        top:0px;
        left:100%;
    }
}
#chinease{
    position: relative;
    animation-name:chinease;
    animation-duration:5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes chinease{
    25%{
        top: 0px;
        right:0px;
    }
    50%{
        top:0px;
        right:100%;
    }
}
